<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tree-sitter.live - Playground</title>
    <meta name="color-scheme" content="light dark">
    <%= favicon_tag %>
    <%= stylesheet_tag "app" %>
  </head>
  <body>
    <header class="container">
      <nav>
        <ul>
          <li><strong>tree-sitter.live</strong></li>
        </ul>
        <ul>
          <li><a href="/grammars">Grammars</a></li>
        </ul>
      </nav>
    </header>

    <main class="container">
      <%= yield %>
    </main>

    <%= javascript_tag "app" %>
  </body>
</html>
